<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${post.title}"></title>

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/book.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/topnav :: navbar}"></div>

<div class="container">
    <div class="book">
        <div class="content">
            <div class="name">
                <h2 th:text="${post.title}"></h2>
            </div>
            <hr>
            <div class="featured-info">
                <p class="info-head">Post Details</p>
                <div class="info">
                    <div>
                        <p>Author: </p><span th:text="' ' + ${post.surname}"></span>
                    </div>
                    <div>
                        <p>Likes: </p><span th:text="' ' + ${post.likes.size()}"></span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="about">
                <p th:text="${post.content}"></p>
            </div>
            <hr>
            <form th:action="@{/posts/{postId}/likes(postId=${post.id})}" method="post">
                <button type="submit" class="btn btn-primary">Like</button>
            </form>

            <h2>Comments</h2>
            <form th:action="@{/posts/{postId}/comments(postId=${post.id})}" method="post">
                <textarea name="content" placeholder="Add a comment" required></textarea>
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
            <div th:each="comment : ${post.comments}">
                <p th:text="${comment.content}">Comment Content</p>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>