<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/posts.css}">
</head>
<body>
    <div th:replace="~{fragments/topnav :: navbar}"></div>

    <div class="container">
        <h1>Posts</h1>
        <button onclick="window.location.href='/posts-create'">Create Post</button>
        <h2>All Posts</h2>
        <div th:each="post : ${posts}">
            <h3 th:text="${post.title}">Post Title</h3>
            <p th:text="${post.content}">Post Content</p>
            <a th:href="@{/posts/{id}(id=${post.id})}">Read more</a>
        </div>
        <h2>Top 5 Most Liked Posts</h2>
        <div th:each="post : ${topPosts}">
            <h3 th:text="${post.title}">Post Title</h3>
            <p th:text="${post.content}">Post Content</p>
            <a th:href="@{/posts/{id}(id=${post.id})}">Read more</a>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>